@font-face{
    font-family: 'Dimis';
    src: url('../fonts/dimis.ttf') format('truetype');
}
@font-face{
    font-family: 'CaviarDreams';
    src: url('../fonts/caviarDreamsBold.ttf') format('truetype');
}

/*
#a6a6a6 = gris
#8c8c8c = +foncé
*/

#login{
    position:fixed;
    top: 10px;
    right: 0px;
    background-color: #a6a6a6;
    border-radius: 8px 0px 0px 8px;
    font-family: CaviarDreams;
    width: 210px;
}
#login td{
    padding:2px 5px;
    text-align: center;
}
#login button{
    background-color: #8c8c8c;
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 2px;
    min-width: 75px;
}
#login button:hover{
    color: #19194d;
    background-color: white;
}
#password, #username{
    width: 97%;
    padding: 5px 2px;
    border: none;
    border-radius: 2px;
}
#password:focus, #username:focus{
    background-color: #adadad;
}

#lang{
    position: fixed;
    top: 3px;
    right: 220px;
}

#langFr, #langEn{
    width: 32px;
}

footer{
    position: static;
    height: 100px;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #003399;
    bottom: 0px;
}

#menu{
    position: fixed;
    top: 0px;
    left: 0px;
}
#menu ul{
    max-height:0px;
    left: 0px;
    right: 0px;
    overflow:hidden;
    -moz-transition: .4s all .1s;
    -webkit-transition: .4s all .1s;
    transition: .4s all .1s;
}
#menu, #menu ul{
    position:absolute;
    padding:0px;
    margin:0px;
    list-style:none;
    text-align:center;
}
#menu li{
    display:inline-block;
    position:relative;
    background-color: #a6a6a6;
    background-image:-webkit-linear-gradient(top, #a6a6a6 0%, #8c8c8c 100%);
    background-image:linear-gradient(to bottom, #a6a6a6 0%, #8c8c8c 100%);
}
#menu li li{
    background:#8c8c8c;
}
#menu li:hover, #menu li li:hover{
    background:#a6a6a6;
}
#menu ul li{
    display:inherit;
}
#menu li:hover ul{
    max-height:500px;
}
#menu a{
    text-decoration:none;
    display:block;
    padding:8px 40px;
    color:#fff;
    font-family:CaviarDreams;
    font-size: 22px;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
#menu ul a{
    padding:8px 0px;
}
#menu li:hover li a{
    color:#fff;
    text-transform:inherit;
}
#menu li:hover a, #menu li li:hover a{
    color: #000000;
}

#mainPart{
    margin-top:200px;
}

#productList{
    border-collapse: separate;
    border-spacing: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.productItem{
    max-width:300px;
    min-width: 200px;
    height: 200px;
    border: 1px solid black;
}